$font: 'Dosis', sans-serif;
$start-fest-font: 'IBM Plex Mono', monospace;
$sf-primary: #1b314f;
$su-black: #06080c;
$su-white: #fafafa;
$su-shadow: adjust-color($color: $su-black, $alpha: -0.8);

@mixin title($size) {
    text-align: center;
    font-family: $start-fest-font;
    font-size: $size;

    padding-top: 0rem;
    padding-bottom: 1rem;
    margin: 0;

    text-transform: lowercase;
}

.start-fest {
    
    h1 {
        @include title(3rem);
    }
    
    h2 {
        @include title(2.1rem);
    }
    
    h3 {
        @include title(1.5rem);
    }

    .highlight {
        background: $sf-primary;
    }
}

header.start-fest {
    background: $sf-primary;
    background-image: none;
    color: $su-white;
    text-shadow:  2px 2px 3px $su-shadow;
}

nav, #menu {
    background: $sf-primary !important;
}

.start-fest-title {
    text-transform: initial !important;
}
